<% content_for :head do -%>
  <%= stylesheet_link_tag 'tables.css' %>
<% end %>
<div id='order-wrapper' class='twelve'>
  <div class='seven large-7 columns'>
    <h1>Order Summary</h1>

    <div id='order-items-summary'>
      <% i = 1 %>
      <% @order.order_items.group_by(&:variant_id).each do |variant_id, items| %>
        <div id='order-item-<%= i %>' class='panel'>
          <%= render :partial => 'order_item', :locals => {:items => items } %>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
    <div class='row'>
      <div id='final-order-shipping-address' class=' four large-6 columns radius' >
        <div class='panel'>
          <h5>Shipping Address</h5>
          <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
          <%= link_to 'Change address', shopping_addresses_path, :class => 'button tiny green' %>
        </div>
      </div>
      <div id='final-order-shipping-address' class=' four large-6 columns radius last' >
        <div class='panel'>
          <h5>Billing Address</h5>
          <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} %>
          <%= link_to 'Change address', shopping_billing_addresses_path, :class => 'button tiny green' %>
        </div>
      </div>
    </div>
  </div>
  <div class='pretty_table five large-5 columns last'>
    <table>
      <thead>
        <tr class='odd'>
          <th class='column1_header'>
            Item
          </th><th>Price:</th><th>Price + Tax</th>
        </tr>
      </thead>
      <% @order.order_items.each do |item| %>
        <tr class='<%= cycle("odd", "")%> '>
          <td><%= item.variant.product.name %></td><td><%= number_to_currency item.price %></td><td><%= number_to_currency item.total %></td>
        </tr>
      <% end %>
      <tr class='odd'>
        <td></td><td>Sub-total:</td><td><%= number_to_currency @order.sub_total %></td>
      </tr>
      <tr>
        <td></td><td>Shipping Charges:</td><td><%= number_to_currency @order.shipping_charges %></td>
      </tr>
      <% if @order.coupon_amount > 0.0 %>
        <tr>
          <td></td><td>Coupon:</td><td><%= number_to_currency @order.coupon_amount %></td>
        </tr>
      <% end %>
      <% if @order.deal_amount && @order.deal_amount > 0.0 %>
        <tr>
          <td></td><td>Promotion:</td><td><%= number_to_currency @order.deal_amount %></td><td></td>
        </tr>
      <% end %>
      <tr>
        <td></td><td>Tax:</td><td><%= number_to_currency @order.taxed_amount %></td>
      </tr>
      <% if @order.amount_to_credit && @order.amount_to_credit > 0.0 %>
        <tr class='odd'>
          <td></td>
          <td>Credits:</td><td></td>
          <td><%= number_to_currency @order.amount_to_credit %></td>
        </tr>
      <% end %>

      <tfoot>
        <tr class='even'>
          <td></td><td>Total:</td><td><em><%= number_to_currency @order.credited_total %></em></td>
        </tr>
      </tfoot>
    </table>
    <div>
  </div>
  <div>
    <!-- charges_path is the way Stripe does it -->
    <%= form_tag charges_path do %>
    <!-- This is the way it was done -->
    <%#= form_tag( shopping_order_path(@order),
                                   method: :put,
                                   html:  {class: 'custom'},
                                   id:    'purchase_order') do  %>
      
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Enter Credit Card Details"
              data-amount="<%= (@order.credited_total * 100).to_i %>"></script>
    <% end %>
  </div>
  </div>
</div>

